@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@source "../views";

@layer base {

    *,
    ::before,
    ::after {
        @apply border-gray-200;
    }
}

[x-cloak] {
    display: none;
}


@theme {
  --color-primary-50: oklch(0.984 0.003 247.858);
  --color-primary-100: oklch(0.968 0.007 247.896);
  --color-primary-200: oklch(0.929 0.013 255.508);
  --color-primary-300: oklch(0.869 0.022 252.894);
  --color-primary-400: oklch(0.704 0.04 256.788);
  --color-primary-500: oklch(0.554 0.046 257.417);
  --color-primary-600: oklch(0.278 0.033 256.848);
  --color-primary-700: var(--color-gray-700);
  --color-primary-800: oklch(0.279 0.041 260.031);
  --color-primary-900: oklch(0.208 0.042 265.755);
  --color-primary-950: oklch(0.129 0.042 264.695);
}

.comments {
    margin-top: 2rem;
}

.comments .bg-white {
}

